.buttonMenu button {
    border: none !important;
}

@media screen and (max-width: 768px) {
    .bottomerss {
        display: none !important;
    }

    .bottomerss-mobile {
        display: block !important;
        margin-top: 3.7rem;
    }
    
    .bottomerss-mobile .card-header a:focus {
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
    }
}